{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{%static '/css/main.css' %}">
	
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
  </head>
  <body>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
      <div class="logo">
        <h1>Kamahoro,Kiboome & Kirunda Advocates</h1>
      </div>
	  <div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">

					{% if messages %}
						{% for message in messages %}
						<div class="alert alert-{{ message.tags }}" role="alert">
							{{ message }}
						  </div>
						{% endfor %}

					{% endif %}
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="newsletter">
	   <!-- <h3 class="mb-30 title_color">Login</h3>-->
	   <div class="page-cover text-center">
		<h2 class="page-cover-tittle">You have been logged out</h2>
		<ol class="breadcrumb">
			<li class="active"><a href="{% url 'login' %}">Login</a></li>
		</ol>
	</div>
	</div>
	</div>
	<!-- /BREADCRUMB -->
		</div>
	</div>
    </section>
    <!-- Essential javascripts for application to work-->
    <script src="{%  static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{%  static '/js/popper.min.js' %}" ></script>
    <script src="{%  static '/js/bootstrap.min.js' %}" ></script>
    <script src="{%  static '/js/main.js' %}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{%  static '/js/plugins/pace.min.js' %}" ></script>
    <script type="text /javascript">
      // Login Page Flipbox control
      $('.login-content [data-toggle="flip"]').click(function() {
      	$('.login-box').toggleClass('flipped');
      	return false;
      });
    </script>
  </body>
</html>
