{% extends "invoice/base2.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <main class="app-content">
      <div class="row user">
        <div class="col-md-12">
          <div class="profile">
            <div class="info"><img class="user-img" src="{{ user.profile.image.url }}">
              <h4>{{ user.username }}</h4>
              <p>{{ user.email }}</p>
              <p>{{ user.designation }}</p>
              
              <h5><a href="/admin">Admin</a></h5>
            
            </div>
            <div class="cover-image"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="tile p-0">
            <ul class="nav flex-column nav-tabs user-tabs">
              <li class="nav-item"><a class="nav-link active" href="#user-timeline" data-toggle="tab">Timeline</a></li>
              <li class="nav-item"><a class="nav-link" href="#user-settings" data-toggle="tab">Settings</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane active" id="user-timeline">
              <div class="timeline-post">
                <div class="post-media"><a href="#"><img style=" height: 48px;width: 48px;margin-right: 12px; margin-bottom: 08px;" src="{{ user.profile.image.url }}"></a>
                  <div class="content">
                    <h5><a href="#">{{ user.username }}</a></h5>
                    <p class="text-muted"><small>{{ user.designation }}</small></p>
                  </div>
                </div>
                <div class="post-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,	quis tion ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <ul class="post-utility">
                  <li class="likes"><a href="#"><i class="fa fa-fw fa-lg fa-thumbs-o-up"></i>Like</a></li>
                  <li class="shares"><a href="#"><i class="fa fa-fw fa-lg fa-share"></i>Share</a></li>
                  <li class="comments"><i class="fa fa-fw fa-lg fa-comment-o"></i> 5 Comments</li>
                </ul>
              </div>
              <div class="timeline-post">
                <div class="post-media"><a href="#"><img style=" height: 48px;width: 48px;margin-right: 12px; margin-bottom: 08px;" src="{{ image_file }} "></a>
                  <div class="content">
                    <h5><a href="#">{{ user.username }}</a></h5>
                    <p class="text-muted"><small>{{ user.designation }}</small></p>
                  </div>
                </div>
                <div class="post-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,	quis tion ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <ul class="post-utility">
                  <li class="likes"><a href="#"><i class="fa fa-fw fa-lg fa-thumbs-o-up"></i>Like</a></li>
                  <li class="shares"><a href="#"><i class="fa fa-fw fa-lg fa-share"></i>Share</a></li>
                  <li class="comments"><i class="fa fa-fw fa-lg fa-comment-o"></i> 5 Comments</li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="user-settings">
              <div class="tile user-settings">
					{% if messages %}
						{% for message in messages %}
						<div class="alert alert-{{ message.tags }}" role="alert">
							{{ message }}
						</div>
						{% endfor %}
				
					{% endif %}
                <h4 class="line-head">Settings Account Info</h4>
                <form method="POST" action="" enctype="multipart/form-data">
					{% csrf_token %}
                  <div class="row mb-4">
                    <div class="col-md-4">
						{{ u_form|crispy }}
						{{ p_form|crispy }}
                    </div>
                  </div>
                    <div class="form-group">
                      <fieldset disabled="">
                        <label class="control-label" for="disabledInput">Disabled input</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
                      </fieldset>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-md-8 mb-4">
						<!--Profile picture goes here-->
                    </div>
					<div class="row mb-10">
						<div class="col-md-12">
							<button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>Update</button>
						</div>
                  </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}